body{
    background-image: url(https://images.wallpapersden.com/image/download/color-palette-abstract-4k_a2lsa2uUmZqaraWkpJRobWllrWdma2U.jpg);
}

h1{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 100px;
}

#todo{
    display: none;
}

#input-edit{
    display: none;
}

#input{
    border-radius: 20px;
    border: none;
    width: 500px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

#btn-input{
    margin-left: 25px;
}